<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/navbar.css">
    <title>Feed</title>
</head>
<body>
    <div class="wrapper">
        <!-- main nav -->
        <!-- Side navigation -->
        <div class="sidenav">
            <a href="/feed">Home</a>
            <a href="/explore">Explore</a>
            <a href="/queue">Queue</a>
            <a href="/pfp">Profile</a>
        </div>

        <!-- main feed -->
        <div class="center-square">
            <div class="top-text">
                Welcome {{{name}}}!
            </div> 
            <div class="info-text">
                Welcome to Vynilla! The website where you can share your favorite music with your friends.
            </div>
            <a href="/pfp">
                <button class="GoToButton">
                    <a href="/pfp">
                    <div class="ButtonText">
                        Go to my Profile
                    </div>
                </button>
                </a>
        </div>
    </div>
</body>
</html>
