<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/explore.css">
  <link rel="stylesheet" href="/navbar.css">
</head>
<body>

    <div class="sidenav">
        <a href="/feed">Home</a>
        <a href="/explore">Explore</a>
        <a href="#">Notifications</a>
        <a href="/pfp">Profile</a>
    </div>

  <div class="center">
    <form action="/explore/search" method="POST">
      <input type="name" action="/explore/search"
            class="search" id="search" name="search"
            placeholder="Search for songs, artists, albums, or users">
      </form>

      {{#if message}}
        <h4 class="searchText">{{message}}</h4>
      {{/if}}
      {{#each friends}}
        <div class="searchResults">
          <div class="searchText">
            {{this.username}}
            <a href="/explore/friend-request-sent/{{this.username}}/{{this.id}}" class="button">Add Friend</a>
          </div>
        </div>
      {{/each}}

    <div class="card-main">
      <div class="card">
        <a href="./blank.html" target="_blank">jack</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">sam</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">jerry</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">tom</a>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="list">
      <h1>Listening</h1>
      <div class="out-row">
        <div class="p-row">
          <img src="./abc.jpg" alt="this is a photo">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <img src="./abc.jpg" alt="this is a photo">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <img src="./abc.jpg" alt="this is a photo">
          <span>jack smith</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    document.querySelector('.search').addEventListener('keyup', (event) => {
      if (event.keyCode === 13) {
        window.open('./blank.html')
      }
    })
  }
</script>
</body>
</html>