<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/navbar.css">
    <title>Feed</title>
</head>
<body>
    <div class="wrapper">
        <!-- main nav -->
        <!-- Side navigation -->
        <div class="sidenav">
            <a href="/feed">Home</a>
            <a href="/explore">Explore</a>
            <a href="#">Notifications</a>
            <a href="/pfp">Profile</a>
        </div>

        <!-- main feed -->
        <section class="main-feed">
            <div class="feed-item">
                <h4>Welcome Back, {{{name}}}!</h4>
                <header class="feed">
                    <h4 class="author">Jack Smith</h4>
                    <p class="action">added to their discography</p>
                </header>
                <div class="song">
                    <img src="../resources/img/teton.jpeg" alt="album cover!" class="album-cover">
                    <h5 class="song-name">
                        Started From the Bottom
                    </h5>
                    <h6 class="artist">
                        Drake
                    </h6>
                    <h6 class="album">
                        Nothing Was the Same
                    </h6>
                    <div class="icons">
                        <i class="fas fa-play"></i>
                        <i class="fab fa-spotify"></i>
                        <i class="fas fa-music"></i>
                    </div>
                </div>
                <div class="comments">
                    <h6 class="commenter">
                        anniesmith
                    </h6>
                    <p class="comment">straight fire, dawg</p>
                    <h6 class="commenter">
                        tom123
                    </h6>
                    <p class="comment">fkin luv Drake</p>
                    <!-- <h6 class="collapse">view all comments...</h6> -->
                </div>


            </div>
            <div class="feed-item">
                <header class="feed">
                    <h4 class="author">Annie Smith</h4>
                    <p class="action">added to their discography</p>
                </header>
                <div class="song">
                    <!-- <img src="../resources/img/teton.jpeg" alt="album cover!" class="album-cover"> -->
                    <h5 class="song-name">
                        SAD!
                    </h5>
                    <h6 class="artist">
                        XXXTentaction
                    </h6>
                    <h6 class="album">
                        ?
                    </h6>
                    <div class="icons">
                        <i class="fas fa-play"></i>
                        <i class="fab fa-spotify"></i>
                        <i class="fas fa-music"></i>
                    </div>
                </div>
                <div class="comments">
                    <h6 class="commenter">
                        xlover7721
                    </h6>
                    <p class="comment">rip xxx</p>
                    <h6 class="commenter">
                        themaster41
                    </h6>
                    <p class="comment">so good</p>
                    <!-- <h6 class="collapse">view all comments...</h6> -->
                </div>


            </div>
            <div class="feed-item">
                
            </div>
        </section>
        <section class="friend-feed">
            <h3 class="listening">Listening Now</h3>
            <div class="friend-feed-item">
                <!-- <img src="" alt="" class="friend-prof-pic"> -->
                <!-- <img src="" alt="" class="album-cover"> -->
                <h5 class="author">jacksmith</h5>
                <h6 class="song-name">Say So</h6>
                <h7 class="artist">Doja Cat</h7>
            </div>
            <div class="friend-feed-item">
                <!-- <img src="" alt="" class="friend-prof-pic"> -->
                <!-- <img src="" alt="" class="album-cover"> -->
                <h5 class="author">anniesmith</h5>
                <h6 class="song-name">Mind Mischief</h6>
                <h7 class="artist">Tame Impala</h7>
            </div>
            
        </section>
    </div>
</body>
</html>
