<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile | Vynilla</title>
    <link rel="stylesheet" href="../stylesheets/pfp.css">
    <script src="https://kit.fontawesome.com/a95c4725a7.js"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- grid wrapper -->
    <section class="wrapper">

        <!-- can hopefully use this to give navbar a background color -->
        <!-- maybe turn it to section rather than div? notsure -->
        <div class="navbar-backer">
            <!-- Potentially make it 'leftside'-->

            <!-- left-side navbar -->
            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </div>

        <div class="midsection">
            <div class="profile-section">
                <!-- <div class="flexy"> -->

                    <!-- pfp -->
                    <img src="https://picsum.photos/id/237/600/400"
                        alt="A precious lil doggo" class="pfp">

                    <!-- user name -->
                    <h1 class="name">John Appleseed</h1>
                    <h2 class="atname">@johnappleseed</h2>

                    <!-- friends -->
                    <div class="friends">
                        <h3>Friends</h3>
                        <p>217</p>
                    </div>


                    <!-- music icons -->
                    <div class="music">
                        <h3>Music</h3>
                        <div class="icons">
                            <i class="fas fa-play"></i>
                            <i class="fab fa-spotify"></i>
                            <i class="fas fa-music"></i>
                        </div>
                    </div>
                <!-- </div> -->

            </div>
            <!-- artists, songs, albums -->
            <section class="subsections">

                <!-- artists live here. -->
                <div class="artist-backing">
                    <h1>Artists</h1>
                    <!-- hopefully, this can give artists a nice backing-->
                    <div class="artists">
                        <ul class="artist-list">
                            <li>Tame Impala</li>
                            <li>Doja Cat</li>
                            <li>Daft Punk</li>
                            <li>dryhope</li>
                            <li><i class="fas fa-plus-circle"></i></li>
                        </ul>
                    </div>
                </div>

                <!-- songs live here -->
                <div class="songs-backing">
                    <h1>Songs</h1>
                    <div class="songs">
                        <ul class="song-list">
                            <li class="song">
                                <h3 class="song-name">Mind Mischief</h3>
                                <h4 class="song-artist">Tame Impala</h4>
                            </li>
                            <li class="song">
                                <h3 class="song-name">Say So</h3>
                                <h4 class="song-artist">Doja Cat</h4>
                            </li>

                            <li class="song">
                                <h3 class="song-name">Talk Dirty</h3>
                                <h4 class="song-artist">Doja Cat</h4>
                            </li>

                            <li class="song">
                                <h3 class="song-name">One More Time</h3>
                                <h4 class="song-artist">Daft Punk</h4>
                            </li>
                            <li class="song">
                                <h3 class="song-name">R.I.P Kevin Miller
                                </h3>
                                <h4 class="song-artist">Isaiah Rashad</h4>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- albums live here -->
                <div class="albums-backing">
                    <h1>Albums</h1>
                    <div class="albums">
                        <ul class="album-list">


                            <li class="album">
                                <h3>Mind Mischief</h3>
                                <h4>Tame Impala</h4>
                            </li>
                            <li class="album">
                                <h3>Take Care (Deluxe)</h3>
                                <h4>Drake</h4>
                            </li>
                            <li class="album">
                                <h3>Discovery</h3>
                                <h4>Daft Punk</h4>
                            </li>
                            <li class="album">
                                <h3>Riot!</h3>
                                <h4>Paramore</h4>
                            </li>
                            <i class="fas fa-plus-circle"></i>
                        </ul>
                    </div>
                </div>

            </section>
        </div>
        <div class="friends-backer">
            <!-- Potentially make it 'rightside'-->

            <!-- left-side navbar -->
            <div class="friends">
                <h1>Listening Now</h1>
                <ul>
                    <li class="feed-item">
                        <h3 class="friend-name">jacksmith</h3>
                        <h4 class="song-name">Say So</h4>
                        <h5 class="song-artist">Doja Cat</h5>
                    </li>
                    <li class="feed-item">
                        <h3 class="friend-name">anniesmith</h3>
                        <h4 class="song-name">Sonate Pacifique</h4>
                        <h5 class="song-artist">L'Impératrice</h5>
                    </li>
                </ul>
            </div>
        </div>






    </section>

</body>

</html>