<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Register</title>
</head>
<body>
    <section>
        <div class="box">
            <div class="container">
                <form action="/auth/register" method="POST">
                    <h4>Welcome! Tell us about yourself</h4>
                    <div class="inputBx">
                        <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="inputBx">
                        <input type="name" class="form-control" id="name" placeholder="Enter your name" name="name">
                    </div>
                    <div class="inputBx">
                        <input type="username" class="form-control" id="username" placeholder="Enter a username" name="username">
                    </div>
                    <div class="inputBx">
                        <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password">
                    </div>
                    <div class="inputBx">
                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm your password" name="confirmPass">
                    </div>
                    <button type="submit" class="signIn_btn">Register</button>
                    <a href="/" class="button">Have an account? Sign In</a>
                </form>
            </div>
        </div>
    </section>
    {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
</body>
</html>