:root {
    --dark0: black;
    --dark1: #292830;
    --dark2: #38373d;
    --dark3: #444347;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark1);
}

body {
    background: var(--dark0);
    color: var(--light);
    background: linear-gradient(150deg, rgb(59, 59, 59), rgb(19, 19, 19), black);
} 

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 

.center-square {
    display: flex;
    width: 75vh;
    height: 50vh;
    background: linear-gradient(-30deg, rgb(59, 59, 59), rgb(19, 19, 19), black);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 35px black;
}
.top-text {
    padding: 5vh;
    font-size: xx-large;
}
.info-text {
    padding: 5vh;
    text-align: center;
}
.GoToButton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.GoToButton:hover {
    background-color: rgb(155, 155, 155);
}
.ButtonText {
    color: black;
    text-decoration: none;
}

/* .main-nav{ 
    width: 30%;
} */

.main-feed {
    grid-area: feed;
    display: grid;
    grid-gap: 40px;
    background-color: var(--dark2);
}
.main-feed .author, .action {
    display: inline;
}

.main-feed .feed {
    background:rgba(104, 104, 104, 0.8);
}


.author {
    color: lightblue;
}

.feed-item {
    min-height: 200px;
    background: var(--dark1);
}

.song {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "alb-cover song-name ."
    "alb-cover artist    ."
    "alb-cover album-name play"
}

.song .song-name {
    grid-area: song-name;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.song .artist {
    grid-area: artist;
    margin-top: -1rem;
    margin-bottom: 0;
}
.song .album {
    grid-area: album-name;
    margin-top: -1rem;
    
}
.song .icons {
    grid-area: play;
    text-align: right;
    margin-right: 0.5rem;
}

.comments {
    background-color: var(--dark1);
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.comments .commenter {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 0.3rem;
    padding-right: 6px;
}

.comments .comment {
    font-size: 0.8rem;
    margin-top: 0.1rem;
    padding-right: 6px;
}

.friend-feed {
    display:flex;
    flex-direction:column;
    grid-area: friends;
    text-align: left;
    background-color: var(--dark2);
    border-radius: 10px 10px 0px 0px;
    /* width: 100%; */
}

.friend-feed .listening {
    background-color: rgba(104, 104, 104, 0.8);
    border-radius: 10px 10px 0px 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.friend-feed .friend-feed-item {
    padding-right: 10px;
    padding-left: 10px;
}

.friend-feed-item .song-name {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
} 

.friend-feed-item .artist {
    font-size: 0.9rem;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 0;
} 
