<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/queue.css">
  <link rel="stylesheet" href="/navbar.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
</head>
<body>

    <div class="sidenav">
        <a href="/feed">Home</a>
        <a href="/explore">Explore</a>
        <a href="/queue">Queue</a>
        <a href="/pfp">Profile</a>
    </div>

  <div class="center">
      <div class="queues">
          <div class="queue1">
              <h3 class="friendname">Jake</h3>
              <!-- this should prrooobbably be a 'ul' w/ 'li's -->
              <div class="song">Sauce It Up</div>
              <div class="song">Never Going Back Again</div>
              <div class="song">Let Down</div>
              <div class="song">If I Ever Feel Better</div>
                <form action="/addsong" method="GET">
                  <button type="button" class="openModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                  </button>

                </form>

                  <div id="songModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4>Search A Song...<3</h4>
                                  <button class="close" type="button" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                                  <form action="/search" method="get">
                                      <div class="form-group">
                                          <label for="songname">Songname</label>
                                          <input type="text" name="songname" class="form-control" id="songname" placeholder="Enter a song!">
                                      </div>
                                      <button type="submit" class="btn btn-success btn-block">Search!</button>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Nvm. I hate my friends.</button>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
          <div class="queue2">
              <h3 class="friendname">Bernardo</h3>
              <div class="song">Guilty Conscience</div>
              <div class="song">Mind Mischief</div>
              <div class="song">Englishman In New York</div>
              <div class="song">Blow Out</div>
              <div class="song">Come Undone</div>
                <form action="/addsong" method="GET">
                    <button type="button" class="openModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                  </button>
              </form>
          </div>
          <div class="queue3">
              <h3 class="friendname">Dalbir</h3>
              <div class="song">Last Train to London</div>
              <div class="song">Dancing Queen</div>
              <div class="song">Cherry-Coloured Funk</div>
              <form action="/addsong" method="GET">
                  <button type="button" class="openModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                  </button>
              </form>
          </div>
      </div>
  </div>

  <div class="right">
    <div class="list">
      <h1>Listening</h1>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

      $(document).ready(function() {
              $(".openModal").click(function() {
                      $("#songModal").modal();
                  })
          })

</script>

</body>
</html>
