
:root {
  --dark0: black;
  --dark1: #292830;
  --dark2: #38373d;
  --dark3: #444347;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.friendReq {
  display: flex;
  color: white;
  margin: 10px;
}
.friendText {
  font-size: 1.5rem;
  text-decoration: bold;
  margin: 10px;
  color: white;
}
.acceptFR {
  margin: 10px;
  color: green;
}
.declineFR {
  margin: 10px;
  color: red;
}

a {
  color: white;
  text-decoration: none;
}
html {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark1);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subsections {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 50px;
}
.top5-backing {
  height: 500px;
  width: 400px;
  grid-column: 2 / span 1;
  display: block;
  background: rgb(56, 56, 56);
}
.song-container {
  display: flex;
  height: 50px;
  padding: 5px;
  margin: 25px;
  background: rgb(46, 46, 46);
}
.top5-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.top5-element-name {
  padding-left: 10px;
  align-self: flex-start;
}
.top5-element-small {
  padding-left: 10px;
  align-self: flex-start;
  color: rgb(185, 185, 185);
}
/* .song-img {
  align-self: flex-end;
} */

.top5-element-name, .top5-element-header {
  color: white;
  text-align: center;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
  width: 1000px;
  text-align: center;
}
.left,.center,.right {
  background-color: #131313;
  border-radius: 20px;
}
.left label:hover {
  cursor: pointer;
  color: #4270C2;
}
.search {
  border-radius: 10px;
  width: 570px;
  outline: 0;
  height: 24px;
  border: 0;
  margin-top: 100px;
}
.p-row img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.p-row span {
  margin-left: 5px;
}
.p-row {
  display: inline-flex;
  line-height: 40px;
}
.out-row {
  margin-bottom: 10px;
}
.card-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.card {
  width: 420px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.card:nth-child(1) {
  background: linear-gradient(to bottom, #6F40C9 0%,#56A6E3 100%);
}
.card:nth-child(2) {
  background: linear-gradient(to bottom, #419C27 0%,#D7D05B 100%);
}
.card:nth-child(3) {
  background: linear-gradient(to bottom, #BC4748 0%,#D06DB0 100%);
}
.card:nth-child(4) {
  background: linear-gradient(to bottom, #4676B8 0%,#5CD7C7 100%);
}
.card:hover {
  cursor: pointer;
}
.card:nth-child(1), .card:nth-child(3) {
  margin-right: 10px;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 35%;
  margin-left: 1.5em;
}
.right-profile-info {
  margin: auto;
  align-self: flex-end;
}
.left-profile-info {
  margin: auto;
  align-self: flex-start;
}
.name, .atname {
  color: white;
}