.Vynilla{
    border-radius: 50%;
    height: 100px;
    width: 100px
}
body {
    font-family: 'Varela Round', sans-serif;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: rgb(2, 2, 2);
    color: white;
  }