<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBS attempt <3</title>
</head>
<body>
    <h1>Songs go hereee <3</h1>
   <ul>
        <li>{{song.body.item.name}}</li>
        <li>"Bernardo"</li>
   </ul>
</body>
</html>
